body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
#root {
  background-color: #d9d9d9;
} */

.navbar-bg,
.footer-bg,
.button-bg {
  background-color: #021e66 !important;
}

.button-border {
  border: 1px solid #021e66 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* search bar */
#search input {
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

#search input:focus-visible {
  outline: #021e66 auto 1px;
}
#search input[type="text"] {
  border: 2px solid #929292;
  font: bold 16px Arial, Helvetica, Sans-serif;
  color: #00000049;
  width: 60%;
  height: 3rem;
  padding: 8px 25px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px #021e66 inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

/* reset button */

#reset {
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  font: bold 18px Arial, Helvetica, Sans-serif;
  color: #021e66;
  width: 15%;
  height: 3rem;
  padding: 8px 25px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

#reset:hover {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

/* pagination */

.paginationBttns {
  width: 100%;
  height: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 12px;
  margin: 4px;
  border-radius: 10px;
  border: 1px solid;
}

.paginationBttns a:hover {
  background-color: #021e66;
  color: white !important;
}

.paginationActive a {
  background-color: #021e66;
}
.paginationBttns a:hover {
  background-color: #021e66;
  color: white;
}

.paginationActive a {
  background-color: #021e66;
  color: white;
}

.paginationBttns a {
  color: #021e66;
}

.paginationBttns :hover {
  color: white;
}

/* cards */

.img {
  height: 40rem;
  object-fit: contain;
}

.image-box {
  overflow: hidden;
  border-radius: 5px;
  padding: 7px;
}

.image-box img {
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  width: 100%;
  height: 12rem;
}

.card:hover .image-box img {
  opacity: 0.8;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.07);
}

.card {
  height: 20rem;
  margin-top: 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}

.card:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}

/*team members*/

.userimage {
  width: 150px;
  height: 150px;
}
